

img {
 border: 5px solid #ddd;
  border-radius: 4px;
  width: 150px;
  height: 150px;
  margin: 0 auto;

    /* margin: 10px 10px 10px 10px; */
   }


/* 
.img-container {
    border: 1px solid;
    padding: 10px;
} */